<div class="packet-map-container">
  <app-packet-header />

  <!-- Loading state -->
  @if (loading()) {
    <div class="loading-message">
      <div class="spinner"></div>
      <p>Paketdaten werden geladen...</p>
    </div>
  }

  <!-- Error state -->
  @if (error()) {
    <div class="error-message">
      <p>❌ {{ error() }}</p>
    </div>
  }

  <!-- Packets count -->
  @if (!loading() && !error()) {
    <app-packet-info-bar [packetsCount]="packetsCount()" />
  }

  <!-- Map -->
  <div id="map"></div>
</div>

chl79678er464et5u7i7io5rjuyg7jyugmfurny,hty,tk;iuotriou6r6rti7rt6mvngguttuuaik000000000000000000000000.0000000000011111111










































vgt55432144t7i0['tyi806o
lii68868i986978oyikuhgkf,ggh.,''ikh'k',.